* {
    box-sizing: border-box;
    color: #555;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0!important;
    margin: 0 !important;
}

#main-header {
    /* display: flex; */
    padding: 20px 0;
    color: palevioletred;
}

#main-header .logo {
    height: 60px;
}

#main-header .main-input {
    width: 99%;
    overflow: hidden;
    border: 2px solid #ffb0bd;
    line-height: 30px;
    border-radius: 8px;
    font-size: 14px;
    padding: 4px 8px;
    padding-right: 50px;
}

#main-header .btn-search {
    cursor: pointer;
    width: 50px;
    line-height: 30px;
    border: 2px solid #ffb0bd;
    padding: 4px 8px;
    margin-left: -50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#main-header .login {
    text-align: center;
    font-weight: 600;
    margin: auto 0px;
    text-decoration: none;
}

#main-header .login:hover {
    color: #ffb0bd;
}

#main-header .slash {
    text-align: center;
}

#nav {
    height: 40px;
    background-color: #ffb0bd;
}

#nav .nav-inner {
    height: 100%;
    display: flex;
}

#nav .nav-inner .nav-link {
    padding: 0 16px;
    display: inline-block;
    line-height: 40px;
    height: 100%;
    text-decoration: none;
}

#nav .nav-inner .nav-link:hover {
    background-color: #fad8de;
}

#nav .nav-inner.flex-end {
    justify-content: flex-end;
}

#slider .slider-img {
    display: inline-block;
}

#slider img {
    max-width: 100%;
}

#left-bar ul {
    list-style: none;
}

#left-bar ul * {
    display: block;
    text-decoration: none;
}

#left-bar ul .title-list {
    padding-top: 8px;
    padding-bottom: 20px;
}

#left-bar ul a {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #eee;
}

#left-bar ul a:hover {
    background-color: rgb(242, 242, 242);
}

#left-bar .title-list {
    font-size: 20px;
    font-weight: bold;
}

#content .item {
    margin-bottom: 28px;
}

#content .item .image {
    overflow: hidden;
    position: relative;
}

#content .item .image div {
    display: block;
    overflow: hidden;
}

#content .item .image div>img {
    width: 100%;
    display: block;
    transition: all 0.3s;
}

#content .item .image div:hover>img {
    transform: scale(1.2);
}

#content .item .image:hover>.add-to-card {
    opacity: 1;
    transform: translateY(0%);
    transition: all .4s;
}

#content .item .add-to-card {
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 4px 10px;
    background: rgba(255, 176, 189, .9);
    color: #fff;
    transform: translateY(80%);
    transition: all .4s;
}

#content .item .btn-add {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    color: #fff;
}

#content .item .title {
    margin-top: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    display: block;
    overflow-y: hidden;
}

#content .item .title:hover {
    color: #ffb0bd;
}

#content .item .price {
    margin-top: 16px;
    font-weight: 600;
}

#content .btn-add-to-cart {
    width: 140px;
}

#content .pagination {
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: center;
}

#content .pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #eee;
    text-decoration: none;
    border-radius: 2px;
}

#content .pagination .page-link:hover {
    background-color: rgb(243, 242, 242);
}

#content .pagination .page-link.active {
    background-color: #ffb0bd;
    color: #fff;
}

#product .product-image {
    max-width: 100%;
}

#product .breadcrumb a {
    text-decoration: none;
    margin: 0 4px;
    padding: 16px 0;
    font-weight: normal;
    display: inline-block;
}

#product .breadcrumb a:hover {
    color: #ffb0bd;
}

#product .breadcrumb a.active {
    color: #ffb0bd;
}

#product .title {
    margin-top: 0;
}

#product .price {
    font-size: 32px;
}

#product .amount {
    margin: 20px 0;
}

#product .amount .up-down {
    text-align: center;
    margin-left: 20px;
    display: inline-flex;
    border: 1px solid #d0d0d0;
}

#product .amount .up-down input {
    -webkit-appearance: none;
    font-size: 14px;
    width: 50px;
    min-height: 30px;
    border: none;
    text-align: center;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

#product .amount .change {
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
}

#product .amount .change:hover {
    background-color: rgb(242, 242, 242);
}

#product .policy * {
    margin: 10px auto;
}

#footer {
    color: #fff;
    background-color: #ffb0bd;
}

#footer .grid {
    padding: 16px 0;
}

#footer .item {
    margin: 8px 0;
}

#footer .break {
    width: 100%;
    margin: 4px 0;
    border-bottom: 2px solid #fff;
}

#footer .copyright {
    text-align: center;
}

#footer * {
    text-decoration: none;
    color: #fff;
}

#footer a:hover {
    color: #e75d74;
}

#footer ul {
    margin: 0 auto;
}


/* ========== GENERAL ========== */

.btn {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    min-width: 140px;
    padding: 6px 20px;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    display: block;
    margin: 0 auto 20px;
}

.btn-pink {
    color: #fff;
    background-color: #ffb0bd;
    border-color: #ffb0bd;
}

.btn-pink:hover {
    background-color: #f39ba9;
}

.text-center {
    text-align: center;
}

.m-auto-0 {
    margin: auto 0;
}

.m-0-auto {
    margin: 0 auto;
}

.m-auto {
    margin: auto;
}

.bg-blue {
    background-color: blue;
}

.bg-green {
    background-color: green;
}

.ruler-item {
    text-align: center;
    color: #fff;
}